:root {
    --mainColor: #272932;
    --secondColor: #1E1E20;
    --accentColor: #1e2e35;
    --textColor: #E2E2E2;
    /*--flatRed: #FE5F55;
    --flatGreen: #82D173;*/
    --lightBlue: #2E86AB;
    --flatRed: #c47066;
    --flatGreen: #c7c37f;
    --lightGreen: #51966d;
    --flatBlue: #558C8C;
    --spiceColor: #FF7F50;
}
.grid-container {
    background: var(--secondColor);
}
body {
    margin: 0;
    padding: 0;
    font-family: source sans pro;
    background-color: var(--mainColor);
    color: #ffffff;
}
/*Typewriter*/
#typeWrittenHeader, #aboutUsTitle, #homeTitle, #functionsTitle, #contactTitle, #newsletterTitle {
    text-align: center;
    z-index: 1;
}
#titleContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#typeWrittenHeader, .titleStyle {
    position: relative;
    margin: -100px auto 0px;
}
#typeWrittenHeader .Typewriter__wrapper, #typeWrittenHeader .Typewriter__cursor, #blogTitle .Typewriter__cursor, #blogTitle .Typewriter__wrapper {
    font-size: 120px;
}
#aboutUsTitle .Typewriter__wrapper, #aboutUsTitle .Typewriter__cursor, #homeTitle .Typewriter__wrapper, #homeTitle .Typewriter__cursor, #functionsTitle .Typewriter__wrapper, #functionsTitle .Typewriter__cursor, #contactTitle .Typewriter__wrapper, #contactTitle .Typewriter__cursor, #newsletterTitle .Typewriter__wrapper, #newsletterTitle .Typewriter__cursor {
    font-size: 100px;
}
/*Typewriter-END*/
/*LoginStuff*/
.errormessage {
    color: var(--flatRed);
}
.successmessage {
    color: var(--flatGreen);
}
.loginDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}
.loginDiv, .signupDiv, .resetPasswordDiv, .createPasswordDiv {
    text-align: center;
    font-family: source sans pro;
    color: white;
}

.input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: var(--mainColor);
    width: 50%;
    margin: 0 auto 5px;
    color: #fff;
    transition: 0.5s;
}

.input:focus{
    outline: none;
    border-bottom: 2px solid var(--spiceColor);
}
.btn {
    border: 2px solid white;
    background-color: var(--mainColor);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease-out;
}
  
.default {
    color: white;
}

.default:hover {
    background: var(--spiceColor);
}

.loginlink {
    color: white;
    text-decoration: none;
    display: block;
    margin: 2px auto 0;
    width: 18%;
}
/*LoginStuff-END*/
/*BLOG*/
.blogDiv {
    width: 75%;
    margin: 100px auto;
    padding: 0;
    text-align: center;
}
.blogSubject {
    font-size: 70px;
    font-weight: normal;
    margin: 0;
}
.blogText {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.blogDate {
    font-size: 25px;
    font-weight: normal;
    margin: 0;
    font-style: italic;
}
.writtenBy {
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    text-transform: capitalize;
}
/*BLOG-END*/
/* NoteFolderBar */
a {
    text-decoration: none;
    color: white;
}
.documentDetails {
    visibility: hidden;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    transition: 0.5s;
    position: absolute;
    right: 101%;
    top: 0;
    opacity: 0;
    font-size: 5vh;
    z-index: 1;
}
:focus {
    border: none;
}
.documentDetails:focus {
    visibility: visible;
    right: 0;
    opacity: 1;
}
.documentBox:focus > .documentDetails {
    visibility: visible;
    right: 0;
    opacity: 1;
}
.openDiv {
    grid-column: 1 / 3;
}
.editDocument {
    width: 100%;
    text-align: center;
    opacity: 1;
    transition: 0.2s;
    cursor: pointer;
}
/* Folder/File Div */
.documentBox {
    height: 20vh;
    cursor: pointer;
    border-bottom: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.documentTitle {
    font-size: 30px;
    transition: 0.2s;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: center;
}

.fa-folder, .fa-sticky-note {
    font-size: 24px;
}
.documentDates {
    font-size: 24px;
    display: flex;
    align-items: center;
}
.createDate {
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 25vw 70vw 5vw;
    grid-template-rows: 100vh;
}
.folderBar {
    background: var(--mainColor);
    overflow: auto;
    overflow-x: hidden;
}
#currentPath {
    visibility: hidden;
    position: absolute;
}
#noteContent {
    flex: auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
/* Note container flex */
#noteContainer {
    display: flex;
    flex-direction: column;
    background: var(--secondColor);
    height: 100vh;
}
/* Note formating */
#noteTextFormat {
    border-radius: 0 0 25px 25px;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    background: #E2E2E2;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
    padding: 10px;
}
.formatBtnDiv {
    width: 2px;
    height: 40px;
    background: #2D2D2D;
}
.formatBtnContainer {
}
.formatBtn {
    height: 40px;
    width: 40px;
    border: none;
    font-size: 25px;
    color: #2D2D2D;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}
.formatBtnDisc {
    transition: 0.2s;
    border-radius: 20px;
    padding: 2px 5px; 
    background: white;
    color: black;
    position: absolute;
    top: 60px;
    visibility: hidden;
    opacity: 0;
}
.formatBtn:hover + .formatBtnDisc {
    visibility: visible;
    opacity: 0.7;
}
.formatBtn:hover {
    background: #B2B2B2;
}
.formatBtnActive {
    background: #B2B2B2;
}
.formatInput {
    width: 75px;
    height: 40px;
    border: none;
    margin: 4px 5px;
    font-size: 25px;
    font-family: source sans pro;
}
/* Media Q that makes formatBox squared and 2 rows*/
@media screen and (max-width: 1300px) {
    #noteTextFormat {
        border-radius: 0 0 50px 50px;
        width: 95%;
        padding: 10px;
        display: 
    }
}
/* notefooter */
#noteFooter {
    background: #E2E2E2;
    height: 40px;
    width: 85%;
    margin: auto;
    border-radius: 20px 20px 0 0;
}
/* Navbar */
.logoutNoteButton {
    background: transparent;
    border: none !important;
}
.noteNavbar {
    background: var(--mainColor);
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    justify-content: space-evenly;
}
.noteNavbarContent {
    text-align: center;
}
#buttonNote {
    color: white;
    cursor: pointer;
    font-size: 2.5vw;
    transition: 0.2s;
}
.fa-sign-out-alt:hover {
    color: var(--flatRed) !important;
    transform: scale(1.4, 1.4);
}
.buttonNote {
    color: white;
    cursor: pointer;
    font-size: 2.5vw;
    transition: 0.2s;
    float: none !important;
}
.buttonNote:hover {
    color: var(--lightBlue);
    transform: scale(1.2, 1.2);
}
/* Icons */
.fa-trash-alt, .fa-pencil-alt {
    transition: 0.2s;
}
.fa-pencil-alt:hover {
    color: var(--flatGreen);
}
a .far:hover {
    color: var(--flatRed);
}
.fa-arrow-left {
    color: white !important;
}
.fa-folder, .fa-sticky-note, .fa-arrow-left {
    float: left !important;
    margin-right: 5px;
}
/* Removes irritating outline */
:focus {
    outline: none;
}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--accentColor);
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2d4652;
  }
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover { */
    background: #3f6373;
  }
  
/* Dropdown Button */
.dropbtn {
    color: var(--secondColor);
    font-size: 25px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    /* background-color: #8a8a8a; */
  }
  
  /* The search field */
  #fontTypeInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #fontTypeInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .fontTypeDropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}